body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table{
  display: table;
  width: 100%;
}

.row {
  display: table-row-group;
}

.header div {
  font-weight: bold;
}

.row div{
  display: table-cell;
  width: 200px;
}

datalist {
  display: block;
}
select {
  padding: 10px 14px;
  font-size: 18px;
  width: 200px;
}

.tbl-container {
  max-width: 90%;
  margin: 0 auto;
  margin-top: 60px;
}

